In [2]:
import pandas as pd
import numpy as np
import os
import json

#### Advertisement Data

In [3]:
# ad_interests containst all the categories of ads that the user has an interes in

ad_interests_path = os.path.join('facebook-sampledataset', 'ads_and_businesses', 'ads_interests.json')
ad_interests = pd.Series(json.loads(open(ad_interests_path, 'r').read())['topics'])
ad_interests

0                       1080i
1            8 Out of 10 Cats
2                       8Shit
3                 Abstraction
4              Academy Awards
                ...
803                   Writing
804                       WWE
805                      Xkcd
806    Y Combinator (company)
807                Yes (band)
Length: 808, dtype: object

In [4]:
ad_interacted_path = os.path.join('facebook-sampledataset', 'ads_and_businesses', 
                                  'advertisers_you\'ve_interacted_with.json')
ads_interacted_dict = json.loads(open(ad_interacted_path, 'r').read())['history']

In [5]:
# ads_interacted_with is a table that contains the ads that the user clicked on

ads_interacted_with = {'title': [], 'action': [], 'timestamp': []}
for x in ads_interacted_dict:
    ads_interacted_with['title'].append(x['title'])
    ads_interacted_with['action'].append(x['action'])
    ads_interacted_with['timestamp'].append(x['timestamp'])

ads_interacted_with = pd.DataFrame(ads_interacted_with)
ads_interacted_with.head()

                                 title      action   timestamp
0                    Limited time only  Clicked ad  1585325874
1                 Start Building Today  Clicked ad  1585325780
2  Lo-Fi House mix by Machine Learning  Clicked ad  1584994439
3  Lo-Fi House mix by Machine Learning  Clicked ad  1584994433
4                Negotiation made easy  Clicked ad  1584993992

In [6]:
off_fb_path = os.path.join('facebook-sampledataset', 'ads_and_businesses', 
                                  'your_off-facebook_activity.json')
off_fb_dict = json.loads(open(off_fb_path, 'r').read())['off_facebook_activity']

In [7]:
# off_fb_activity contains all the pages the user visited outside of facebook

off_fb_activity = {'website': [], 'page_id': [], 'activity_type': [], 'timestamp': []}
for x in off_fb_dict:
    for y in x['events']:
        off_fb_activity['website'].append(x['name'])
        off_fb_activity['page_id'].append(y['id'])
        off_fb_activity['activity_type'].append(y['type'])
        off_fb_activity['timestamp'].append(y['timestamp'])

off_fb_activity = pd.DataFrame(off_fb_activity)
off_fb_activity

                     website           page_id activity_type   timestamp
0               smarty.co.uk   726749587820043     PAGE_VIEW  1585325876
1             allrecipes.com   538674146243368     PAGE_VIEW  1585268764
2                  figma.com   871885529854177     PAGE_VIEW  1585256588
3                  figma.com   871885529854177  VIEW_CONTENT  1571385186
4                  figma.com   871885529854177  VIEW_CONTENT  1571384183
...                      ...               ...           ...         ...
1504          Vodafone Group   332535910944107  VIEW_CONTENT  1564739784
1505         mcclatchydc.com  1081709588515684  VIEW_CONTENT  1564618996
1506         nomobileads.com  1019485011458835  VIEW_CONTENT  1564428904
1507  changeincorporated.com   325679074800893  VIEW_CONTENT  1564397619
1508                 kew.org   328694677943998  VIEW_CONTENT  1564148656

[1509 rows x 4 columns]

#### Comments Data

In [16]:
comments_path = os.path.join('facebook-sampledataset', 'comments', 'comments.json')
comments_dict = json.loads(open(comments_path, 'r').read())['comments']

In [25]:
# comments table contains all the user comments data. There are some null values in the comment_content and group_posted_in
# columns.

comments = {'timestamp': [], 'comment_content': [], 'group_posted_in': [], 'action': []}
for x in comments_dict:
    comments['timestamp'].append(x['timestamp'])
    comments['action'].append(x['title'])
    try:
        comments['comment_content'].append(x['data'][0]['comment']['comment'])
    except:
        comments['comment_content'].append(np.nan)
    try:
        comments['group_posted_in'].append(x['data'][0]['comment']['group'])
    except:
        comments['group_posted_in'].append(np.nan)

comments = pd.DataFrame(comments)
comments

,timestamp,comment_content,group_posted_in,action
0,1585142718,"hahaha, beautiful desert island",NaN,ACWBUYF.XYFFS replied to OFCR.ROGIOFCH's comment.
1,1583153696,BYX RUPCYM u,NaN,ACWBUYF.XYFFS commented on IQZIPY's photo.
2,1581888276,https://ethi.me,NaN,ACWBUYF.XYFFS commented on his own post.
3,1580892955,"XUGYM KBYFUH more like you give credit to moi,...",NaN,ACWBUYF.XYFFS replied to OFGU.WIHYMWO's comment.
4,1576675778,XUGYM KBYFUH,NaN,ACWBUYF.XYFFS commented on XOMN.XYXC.HBCHAM's ...
...,...,...,...,...
2458,1303396484,"I can't come to training today, just got brace...",Banterbry,ACWBUYF.XYFFS commented on UYILAY.SNBYLCXAY's ...
2459,1302615221,NaN,NaN,ACWBUYF.XYFFS commented on UYILACY.AILLCMB's p...
2460,1292077351,why? who r we playing?,Banterbry,ACWBUYF.XYFFS commented on VYHLS.XIBHMIH's post.
2461,1275255449,NaN,NaN,ACWBUYF.XYFFS commented on a post.
2462,1274533896,Thanks for making this page. it really puts in...,R.I.P our friend Jonny - Died doing what he lo...,ACWBUYF.XYFFS commented on XIY.VUQECHM's post.

#### Likes and Reactions

In [9]:
pages_liked_path = os.path.join('facebook-sampledataset', 'likes_and_reactions', 'pages.json')
pages_liked_dict = json.loads(open(pages_liked_path, 'r').read())['page_likes']

In [10]:
# pages_liked table has all the pages that the user has liked

pages_liked = {'page_name': [], 'timestamp': []}
for x in pages_liked_dict:
    pages_liked['page_name'].append(x['name'])
    pages_liked['timestamp'].append(x['timestamp'])

pages_liked = pd.DataFrame(pages_liked)
pages_liked

                                             page_name   timestamp
0                                       Project Access  1578819094
1                                           Speck&Tech  1576569979
2                                              Firefox  1574003979
3                                  Facebook Hacker Cup  1574003974
4                              Facebook for Developers  1574003970
..                                                 ...         ...
333                                          Inception  1292004029
334                                        Linkin Park  1292004028
335  I can't believe a GIRL did this because of Jus...  1291391493
336                                         Basketball  1272876797
337                                             Eating  1272663462

[338 rows x 2 columns]

In [11]:
posts_liked_path = os.path.join('facebook-sampledataset', 'likes_and_reactions', 'posts_and_comments.json')
posts_liked_dict = json.loads(open(posts_liked_path, 'r').read())['reactions']

In [27]:
# posts_liked has all user interactions and reactions to a multitude of different posts and comments on facebook

posts_liked = {'timestamp': [], 'reaction_type': [], 'action_performed': []}
for x in posts_liked_dict:
    posts_liked['timestamp'].append(x['timestamp'])
    posts_liked['reaction_type'].append(x['data'][0]['reaction']['reaction'])
    posts_liked['action_performed'].append(x['title'])

posts_liked = pd.DataFrame(posts_liked)
posts_liked

,timestamp,reaction_type,action_performed
0,1585394002,LOVE,ACWBUYF.XYFFS reacted to Will Michell's post.
1,1585393979,LIKE,ACWBUYF.XYFFS likes Jane Plan's photo.
2,1585325816,LIKE,ACWBUYF.XYFFS likes Bernie Sanders's post.
3,1585325770,LIKE,ACWBUYF.XYFFS likes Joey Colby's post in Semi-...
4,1585225661,LIKE,ACWBUYF.XYFFS likes Lorenzo Mascioli's post.
...,...,...,...
27079,1244890226,LIKE,ACWBUYF.XYFFS liked a post.
27080,1244890221,LIKE,ACWBUYF.XYFFS liked a post.
27081,1244890207,LIKE,ACWBUYF.XYFFS liked a post.
27082,1244890203,LIKE,ACWBUYF.XYFFS liked a post.
27083,1244890186,LIKE,ACWBUYF.XYFFS liked a post.

#### User Messages

In [34]:
# All the message data from every chat of the user. Note: The user name in sample dataset is 'ACWBUYF.XYFFS' and some of
# the data from the 'message' column is missing.

messages = {'inbox_name': [], 'participants': [], 'message': [], 'message_type': [], 'sender': [], 'timestamp': []}

for folder in os.listdir(os.path.join('facebook-sampledataset', 'messages', 'inbox')):
    message_path = os.path.join('facebook-sampledataset', 'messages', 'inbox', folder, 'message_1.json')
    
    if folder == '.DS_Store':
        continue
        
    current_dict = json.loads(open(message_path, 'r').read())
    
    for x in current_dict['messages']:
        messages['inbox_name'].append(current_dict['title'])
        
        participants = []
        for y in current_dict['participants']:
            participants.append(y['name'])
            
        messages['participants'].append(participants)
        
        try:
            messages['message'].append(x['content'])
        except:
            messages['message'].append(np.nan)
            
        messages['sender'].append(x['sender_name'])
        messages['message_type'].append(x['type'])
        messages['timestamp'].append(x['timestamp_ms'])

messages = pd.DataFrame(messages)
messages

,inbox_name,participants,message,message_type,sender,timestamp
0,OULIH.QBOAAYL,"[OULIH.QBOAAYL, ACWBUYF.XYFFS]",See you next week!,Generic,OULIH.QBOAAYL,1566984678220
1,OULIH.QBOAAYL,"[OULIH.QBOAAYL, ACWBUYF.XYFFS]","Thanks Aaron, you too! Looking forwards to see...",Generic,ACWBUYF.XYFFS,1566984055099
2,OULIH.QBOAAYL,"[OULIH.QBOAAYL, ACWBUYF.XYFFS]",Happy Birthday mate! Have a great day!,Generic,OULIH.QBOAAYL,1566979937344
3,OULIH.QBOAAYL,"[OULIH.QBOAAYL, ACWBUYF.XYFFS]",Yeah fair that makes sense,Generic,OULIH.QBOAAYL,1565350988292
4,OULIH.QBOAAYL,"[OULIH.QBOAAYL, ACWBUYF.XYFFS]","Yeh fair enough actually, was gonna just post ...",Generic,ACWBUYF.XYFFS,1565315032351
...,...,...,...,...,...,...
4976,KWZZG.PROM,"[ACWBUYF.XYFFS, XIY.VUQECHM, XUGYM.HUSFIL, OFC...",Which top tho?,Generic,XUGYM.HUSFIL,1494757705743
4977,KWZZG.PROM,"[ACWBUYF.XYFFS, XIY.VUQECHM, XUGYM.HUSFIL, OFC...",Joe named the group WILLS BDAY.,Generic,XIY.VUQECHM,1494756718614
4978,KWZZG.PROM,"[ACWBUYF.XYFFS, XIY.VUQECHM, XUGYM.HUSFIL, OFC...",Framed football top?,Generic,XIY.VUQECHM,1494756329814
4979,KWZZG.PROM,"[ACWBUYF.XYFFS, XIY.VUQECHM, XUGYM.HUSFIL, OFC...",As in the 17th may,Generic,XIY.VUQECHM,1494756207368
4980,KWZZG.PROM,"[ACWBUYF.XYFFS, XIY.VUQECHM, XUGYM.HUSFIL, OFC...",Wills birthday is in 3 days,Generic,XIY.VUQECHM,1494756171004